//  ===== Typography

body {
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: $bg-white;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

h1 {
  font-size: 2.4em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

// ===== Media
img {
  width: 100%;
}

// ===== Grid
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
//  display: flex;
}

.container {
  width: 100%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  box-sizing: border-box;
}
.container.full {
  max-width: none;
}
.container.wide {
  max-width: 1200px;
}
.container.video {
  max-width: none;
  padding: 0;
}
.container-inner {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.container-inner.wide {
  max-width: 900px;
}









// Werewolf


/*body {
  background-color: $black;
  color: $white;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}*/

/*h1 {
  font-size: 2.4em;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  @media(min-width: $tablet) {
    font-size: 3em;
  }
}
p {
  font-size: 1em;
  @media(min-width: $tablet) {
    font-size: 1.2em;
  }
}
.italic {
  font-style: italic;
}*/
/* Buttons */
/*.button {
  background-color: $turquoise;
  padding: 1em 2em;
  margin: 2em 0.5em 1em;
  display: inline-block;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s;

  //color: $white;
  color: $black;
  font-size: 1em;
  @media(min-width: $tablet) {
    font-size: 1.2em;
  }
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  &:focus, &:active, &:hover {
    background-color: $turquoiseDark;
    //color: $black;
  }
}
.extrabutton {
  color: $gray;
  cursor: pointer;
  display: inline-block;
  padding: 0.3em;
  @media(min-width: $tablet) {
    padding: 1em;
  }
  margin: 0 1em;
  transition: all 0.3s;
  &:hover, &:active, &:focus {
    color: $turquoise;
  }

}*/



/* Header */
/*.header {
  background-color: $black;
  a {
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border: 1px solid $white;
    padding: 0.5em 1em;
    font-size: 0.8em;
    transition: all 0.3s;
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
      background-color: $white;
      color: $black;
    }
  }
}*/

/* Layout */
/*.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0 1em;
  @media(min-width: $tablet) {
    padding: 6em 0 2em;
  }
}*/

/* Start */
/*.start .intro {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 2em 0;
  @media(min-width: $tablet) {
    padding: 6em 0 4em;
  }
}
.start .games {
  max-width: 900px;
  margin: 0 auto;
  @media(min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  a {
    display: block;
    margin-bottom: 2em;
    flex-basis: 30%;
    text-align: center;
    border: 2px solid $turquoise;
    border-radius: 3px;
    transition: all 0.3s;
    color: white;
    text-decoration: none;
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: $turquoise;
      svg {
        fill: $turquoise;
      }
    }
    .inner {
      padding: 2em 1em;
    }
    h2 {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 1.6em;
    }
  }
  svg {
    max-width: 100px;
    fill: $white;
    margin-bottom: 1em;
  }
}*/

/* Common layout for all games */
/*.game .intro {
  margin-bottom: 3em;
  @media(min-width: $tablet) {
    margin-bottom: 5em;
  }
}*/



/* Other words - Play*/
/*.otherwords {
  h1.word {
    margin-top: 1em;
    word-break: break-all;
  }
  .info {
    margin-bottom: 2em;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 0.8em;
  }
  .newRound,
  .startGame,
  .nextword {
  }
  .resetGame,
  .finishRound,
  .skipword {
  }
  .excluded {
    margin-top: 2em;
    font-size: 1.2em;
    div {
      margin-bottom: 0.5em;
    }
  }
}*/

/* Other words - Intro */
/*.otherwords {
  .settings {
    text-align: left;
    max-width: 500px;
    margin: 0 auto;
    .setting {
      margin-bottom: 2em;
    }
    h3 {
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: 700;
      letter-spacing: 1px;
      border-bottom: 1px solid $turquoise;
    }
  }
  .radio label {
    display: block;
  }
}

input[type=checkbox], input[type=radio] {
  margin-right: 0.5em;
}
input[type=radio]:checked,
input[type=checkbox]:checked {
  color: $turquoise;
}*/


/* Fake artist */
/*table {
  width: 100%;
  text-align: left;
}
thead th {
  border-bottom: 2px solid $turquoise;
  padding: 0.5em 0.8em;
}
tr td {
  padding: 1em;
  border-bottom: 1px solid #303033;
}
tr:last-child td {
  border-bottom: 0px;
}
form {
  text-align: left;
  display: inline-block;
  input {
    display: block;
    margin: 0.5em 0 1em 0;
    padding: 0.5em;
  }
}

.fakeartist .words {
  font-size: 1.4em;
  text-align: left;
  margin: 0 auto 2em;
  display: inline-block;
  > div {
    margin-bottom: 1em;
  }
  span.label {
    width: 150px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
  }
  span.word {
    font-weight: 700;
    display: inline-block;
  }
}*/
