.canvas {
  border: 5px solid $red;
  &.disabled {
    border: 5px solid $grayMedium;
  }
}

.players {
  margin-top: 2em;
  border-top: 1px solid $msg-info-text;
  div {
    background-color: $msg-info-bg;
    color: $msg-info-text;
    display: block;
    padding: 0.2em 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $msg-info-text;
    &.current-player {
      background-color: $msg-info-text;
      color: $white;
    }
  }
  span {
    font-size: 1.2em;
    padding: 1em 0;
  }
}
