.canvas {
  border: 5px solid $red;
  &.disabled {
    border: 5px solid $grayMedium;
  }
}

.canvas-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.canvas-players {
  div {
    display: inline-block;
    background-color: $black;
    color: $white;
    border-radius: 4px;
    margin: 0 0.4em;
    padding: 0.2em 0.5em;

    &.yellow {
      background-color: yellow;
    }
    &.blue {
      background-color: blue;
    }
    &.green {
      background-color: green;
    }
    &.purple {
      background-color: purple;
    }
    &.red {
      background-color: red;
    }
    &.current-player {
      transform: scale(1.3)
    }
  }
}
