.gameArea.video {
  display: flex;
  align-items: stretch;
  .videoContainer {
    background-color: #000;
    margin: 0;
    iframe {
      display: block;
    }
  }
  .gameContainer {
    padding: 1em;
    margin-left: 0;
  }
}


// ===== Gamelist
.gamelist {
//  padding: 4em 0;
}
.gamelist  > div {
  margin-bottom: 1em;
  flex-basis: 32%;
}
.gamelist,
.no-video .gamelist {
  @media(min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.wide-video .gamelist {
  display: flex;
  justify-content: space-between;
}

// ===== Card
.card {
  border-radius: 4px;
  cursor: pointer;
  background-color: $white;

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  &:hover, &:active, &:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  img {
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
  }
  .content {
    padding: 1em 0.5em;
    text-align: center;
  }
  h3 {
    margin: 0 0 0.5em 0;
  }
  p {
    margin: 0;
  }
}

// Create room ad
.createRoomAd {
  background-color: $msg-info-bg;
  text-align: center;
  padding: 3em 2em 4em 2em;
}

// ===== About a game
.rules-inner {
  transition: all 0.3s;
  overflow: hidden;
  max-height: 0;
}
.rules.open .rules-inner {
  max-height: 2000px;
}

#rules-button {
  display: flex;
  align-items: center;
  div {
    font-size: 1.2em;
  }
  svg {
    width: 16px;
    margin-left: 0.5em;
    path {
      fill: $black;
      transition: all 0.3s;
    }
  }
  &:hover, &:active, &:focus {
    svg path {
      fill: $red;
    }
  }
}
.rules.open #rules-button svg {
  transform: scaleY(-1);
}

.rules {
  margin: 3em 0;
  h3 {
    color: $turqoise;
    margin: 2em 0 0.4em 0;
    position: relative;
    padding-left: 2.3em;
  }
  p {
    margin: 0 0 1em 2.65em;
  }
  span {
    padding: 0.3em 0.6em;
    border-radius: 50%;
    background-color: $turqoise;
    color: $white;
    margin-right: 0.5em;
    position: absolute;
    left: 0;
    top: 0;
  }
}
