.site-header {
  background-color: $indigo;
  color: $white;
  margin-bottom: 2em;
  @media(min-width: $mobile) {
    margin-bottom: 3em;
  }
  @media(min-width: $tablet) {
    margin-bottom: 4em;
  }
}

// Open close desktop mobile
.menu {
  flex-basis: 100%;
  max-height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: all 0.3s;
  @media(min-width: $desktop) {
    flex-basis: auto;
    visibility: visible;
    max-height: none;
    display: flex;
  }
}
.open .menu {
  max-height: 2000px;
  visibility: visible;
}

.header-bar {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  #logo {
    margin-right: auto;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1em 0;
  border-bottom: 1px solid $indigo-light;
  &:last-child {
    border-bottom: 0;
  }

  @media(min-width: $desktop) {
    padding: 0 1em;
    border: 0;
    border-right: 1px solid $indigo-light;
    &:last-child {
      border-right: 0;
      padding: 0 0 0 1em;
    }
  }

  svg {
    width: 40px;
    height: 40px;
    margin-right: 0.8em;
    path {
      fill: $white;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    font-weight: 700;
  }

  button {
    font-size: 0.8em;
    font-weight: 400;
    margin: 0 0 0 0.1em;
  }
}

#menu-button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  svg {
    width: 30px;
    height: 30px;
    path {
      fill: $white;
      transition: all 0.3s;
    }
  }
  &:hover, &:active, &:focus {
    path {
      fill: $red;
    }
  }
  @media(min-width: $desktop) {
    display: none;
  }
}

/*  .stat {
    margin: 0 2em 0 0;
    @media(max-width: $tablet - 1) {
      display: none;
    }
  }
  .label {
    font-size: 0.8em;
    display: block;
  }
  .value {
    display: block;
    font-weight: 700;
  }*/


/*.desktop-menu {
  display: none;
}
@media(min-width: $desktop) {
  .desktop-menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}*/


#logo {
  color: $white;
  font-size: 1em;
  line-height: 1;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 1.4em;
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  span:nth-child(1) {
    font-weight: 900;
  }
  span:nth-child(2) {
    font-weight: 300;
  }
  img {
    width: 30px;
    margin-right: 5px;
  }

/*  span {
    display: none;
  }
  @media(min-width: $mobile) {
    span {
      display: inline-block;
    }
  }*/

}
/*
#button-settings {
  width: 30px;
  border: 0;
  path {
    fill: $white;
    transition: all 0.3s;
  }
  &:hover, &:active, &:focus {
    path {
      fill: $red;
    }
  }
}*/


// Settings
/*.settings .container {
  margin-top: 4em;
  margin-bottom: 4em;
  @media(min-width: $tablet) {
    display: flex;
    justify-content: space-between;

    > div {
      flex-basis: 32%;
      padding: 1em 1em 0.5em 1em;

      &:nth-child(2) {
        border-right: 1px solid #bac5be;
        border-left: 1px solid #bac5be;
        flex-basis: 36%;
      }
    }
  }
}
.settings {
  .label {
    font-size: 0.8em;
    display: block;
  }
  .value {
    display: block;
    font-weight: 700;
    margin-bottom: 1em;
  }
  ul {
    margin-top: 0.4em;
    padding-left: 1.2em;
  }
  p {
    font-size: 1em;
  }
}
.game-settings {
  .value {
    margin-bottom: 0;
  }
  button.value {
    margin-bottom: 1em;
  }
}

.settings {
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
}
.settings.open {
  max-height: 600px;
}*/
