.play-area {
  text-align: center;
}

.forbidden-words {
  font-size: 1.4em;
}

.change-word {
  font-size: 1.8em;
  margin: 1.2em 0 1em 0;
}

.score {
  justify-content: space-between;
  display: flex;
}
