.intro {
  text-align: center;
  background-color: $indigo;
  padding-top: 2em;
  padding-bottom: 3em;
  color: $white;
  margin-top: -2em;
  @media(min-width: $mobile) {
    margin-top: -3em;
    padding-top: 4em;
    padding-bottom: 5em;
  }
  @media(min-width: $tablet) {
    margin-top: -4em;
    padding-top: 5em;
    padding-bottom: 6em;
  }

  p {
    font-size: 1.6em;
    color: $bg-black;
  }

  h1 {
    display: inline-block;
    background-color: $bg-black;
    padding: 0.2em 0.5em;
    transform: rotate(-3deg);
    border-radius: 4px;
    color: $white;
    margin-bottom: 0.5em;
  }

}

.getstarted {
  padding-top: 3em;
  padding-bottom: 3em;
  @media(min-width: $mobile) {
    padding-top: 5em;
    padding-bottom: 5em;
  }
  @media(min-width: $tablet) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  @media(min-width: $desktop) {
    padding-top: 8em;
    padding-bottom: 8em;
  }

  .container-inner {
    @media(min-width: $tablet) {
      display: flex;
      justify-content: space-between;
    }

    > div {
      text-align: center;
      flex-basis: 32%;
      margin-bottom: 2em;
      @media(min-width: $tablet) {
        margin-bottom: 0;
      }
    }

    h2 {
      background-color: $bg-black;
      color: $white;
      display: inline-block;
      border-radius: 4px;
      padding: 0.2em 0.5em;
      margin: 0;
    }

    img {
      max-width: 200px;
      border-radius: 50%;
      display: block;
      margin: 0 auto 0.5em auto;
    }
  }

}

.featured-games {
  background-color: $msg-info-bg;
  margin-bottom: -4em;

  padding-top: 5em;
  padding-bottom: 5em;
  @media(min-width: $tablet) {
    padding-top: 6em;
    padding-bottom: 6em;
  }
  @media(min-width: $desktop) {
    padding-top: 8em;
    padding-bottom: 8em;
  }

}
