// Colors
$black: #1A1A1d;
$white: #ffffff;
$pink: #E03997;
$pinkDark: #c93387;

//$gray: #4E4E50;
$gray: #808080;
$grayLight: #F5F5F5;
$grayMedium: #DEDEDE;
$turquoise: #66FCF1;
$turquoiseDark: #5be2d8;

// Messages
$msg-info-bg: #e9f5f8;
$msg-info-text: #276f86;
$msg-info-border: #daeef3;

$msg-success-bg: #32CD32;
$msg-success-text: black;
$msg-error-bg: #fff6f6;
$msg-error-text: #9f3a38;

// Breakpoints
$mobile: 480px;
$tablet: 600px;

// Colors
$bg-white: #fcfcfb;
$indigo: #003D5B;
$blue: #30638E;
$turqoise: #00798C;
$red: #D1495B;
$red-hover: #b22d3f;
$yellow: #EDAE49;
